*~
?.tex
?.pdf
*-test.pdf
*-test.tex
kylane*.tex
miriel*.tex
*.aux
*.out
*.log
/homework/index.html
/homework/charsheet.css
/homework/render.cgi
/silver-king-*.yaml
*.?.pdf
*sample*.pdf
node_modules/
package-lock.json
